{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="container my-4">
    <!-- Add Task Button -->
    <div class="text-center mb-4">
        <a href="{% url 'add-task' %}" class="btn btn-success btn-lg">+ Add Task</a>
    </div>

    <!-- Main Content Row -->
    <div class="row g-4">    
        <!-- Tasks Column -->
        <div class="col-lg-6">
            <div class="card h-100 shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h2 class="h4 mb-0 text-center">Your Tasks</h2>
                </div>
                <div class="card-body">
                    {% for task in tasks %}
                    <div class="card mt-2 p-3">
                        <div class="card-body">
                            <div class="card-title">Name: <span class="fw-bold">{{task.title}}</span></div>
                            <p class="card-text lead">Description: <span class="fw-bold">{{task.description}}</span></p>
                            <p class="lead">Due: <span class="fw-bold">{{task.due_date}}</span></p>
                            <p class="lead">Priority: <span class="fw-bold">{{task.priority}}</span></p>
                            <div id="container-fluid">
                                <a href="{% url 'edit-task' task.id %}" class="btn btn-outline-warning m-3 m-md-0">Edit Task</a>
                                <a href="{% url 'delete-task' task.id %}" class="btn btn-outline-danger m-3 m-md-0">Delete Task</a>
                                <form action="{% url 'mark-task-complete' task.id %}" method="POST" style="display: inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-success m-3 m-md-0">Mark as Complete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                    {% if request.user.task_set.count == 0 %}
                    <p class="display-6 text-center text-success mt-5">Please Add some Tasks</p>
        {% endif %}

                </div>
            </div>
        </div>

        <!-- Activity Column -->
        <div class="col-lg-6">
            <div class="card h-100 shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h2 class="h4 mb-0 text-center">Your Activity</h2>
                </div>
                <div class="card-body">
                    <!-- Sample Activity -->
                    {% for activity in activities %}
                    <div class="card mt-2 p-3">
                        <div class="card-body">
                            <div class="row activity">
                                <div class="col">
                                    <!--  icons based on the action -->
                                    {% if activity.action == "Completed" %}
                                    <i class="icon fa-solid fa-square-check fa-2x" style="color: #74C0FC;"></i>
                                    {% elif activity.action == "Updated" %}
                                    <i class="fa-solid fa-pen-to-square fa-2x" style="color: #74C0FC;"></i>
                                    {% elif activity.action == "Created" %}
                                    <i class="fa-solid fa-plus fa-2x" style="color: #74C0FC;"></i>
                                    {% elif activity.action == "Deleted" %}
                                    <i class="fa-solid fa-trash fa-2x" style="color: #74C0FC;"></i>
                                    {% endif %}
                                    <span class="mx-2 fw-bold fs-4">{{ activity.action }}</span>
                                </div>
                                <div class="col">
                                    <p class="card-text lead">You {{ activity.action }} "{{ activity.task.title }}" | {{ activity.timestamp|timesince }} ago</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    <!-- Statistics -->
                    <div class="card mt-2 p-3">
                        <div class="card-body">
                            <div class="text-center">
                                <h1 class="fw-lighter text-center text-success">Statistics</h1>
                                <div class="row">
                                    <div class="col">
                                        <i class="fa-sharp fa-solid fa-list fa-2x" style="color: #74C0FC;"></i>
                                        <span class="mx-2 fw-bold fs-4">Total</span>
                                    </div>
                                    <div class="col">
                                        <p class="card-text lead fw-bold">Total Tasks: {{ total_tasks }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <i class="fa-solid fa-check-double fa-2x" style="color: #74C0FC;"></i>
                                        <span class="mx-2 fw-bold fs-4">Completed</span>
                                    </div>
                                    <div class="col">
                                        <p class="card-text lead fw-bold">Completed Tasks: {{ completed_tasks }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <i class="fa-solid fa-spinner fa-2x" style="color: #74C0FC;"></i>
                                        <span class="mx-2 fw-bold fs-4">Pending</span>
                                    </div>
                                    <div class="col">
                                        <p class="card-text lead fw-bold">Pending Tasks: {{ pending_tasks }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Danger Zone -->
                    <div class="card mt-2 p-3">
                        <div class="card-body">
                            <h1 class="fw-lighter text-center text-danger" style="color: #da0618;">Danger Zone</h1>
                            <div class="row">
                                <div class="col">
                                    <i class="fa-solid fa-bolt fa-2x" style="color: #f3dc0f;"></i>
                                    <span class="mx-2 fw-bold fs-4">Next Up</span>
                                </div>
                                <div class="col">
                                    <p class="card-text lead fw-bold text-warning">Tasks Next 24hrs: {{ next_up_tasks }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <i class="fa-solid fa-skull-crossbones fa-2x" style="color: #da0618;"></i>
                                    <span class="mx-2 fw-bold fs-4">Overdue</span>
                                </div>
                                <div class="col">
                                    <p class="card-text lead fw-bold text-danger">Tasks Overdue: {{ overdue_tasks }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}